.Weather {
  margin: 30px auto;
  max-width: 750px;
  padding: 35px 30px;
  border-radius: 10px;
  font-family: "Space Mono", monospace;
  background: linear-gradient(to top, #04140f 0%, #29724a 100%);
  box-shadow: 0 3px 10px rgb(0 0 0 / 0.2);
}

.Weather h1 {
  font-size: 40px;
  font-weight: bolder;
  line-height: 60px;
  margin-bottom: 0;
  color: white;
}

.Weather ul {
  list-style: none;
  padding: 0%;
  color: white; 
}

.Weather li {
  font-size: 14px;
  font-weight: lighter;
  line-height: 17px;
  color: white; 
}

.Weather .temperature {
  font-size: 75px;
  font-weight: bold;
  color: white;
  margin-left: 20px;
}

.Weather .current-temp {
  display: inline-block;
  margin-top: 50px;
}

.Weather .unit {
  font-size: 23px;
  position: relative;
  bottom: 30px;
  color: white; 
}

@media (max-width: 503px) {
  .Weather .temperature {
    font-size: 45px;
    font-weight: bold;
    position: relative;
    top: -35px;
  }

  .Weather .unit {
    font-size: 18px;
    position: relative;
    top: -55px;
  }

  .Weather h1 {
    font-size: 35px;
  }
}
